version: "3.7"
services:
  browsercast:
    image: tei1988/browsercast:latest
    build:
      context: dockers/browsercast
      dockerfile: ./Dockerfile
      args:
      - BASE_IMAGE=alpine:3.13
    entrypoint: ['sh', '-c']
    cap_add:
    - CAP_SYS_ADMIN
    environment:
    - DISPLAY=:1
    - PAGE=
    - YOUTUBE_STREAM_KEY=
    command:
      - |-
        Xvfb :1 -screen 0 1920x1080x24 &
        chromium-browser --disable-gpu --window-size=1920,1080 --window-position=0,0 --start-fullscreen --disable-features=TranslateUI --incognito ${PAGE} &
        ffmpeg \
          -f s16le -acodec pcm_s16le -ac 2 -i /dev/zero \
          -r 30 -f x11grab -draw_mouse 0 -s 1920x1080 -i :1 \
          -c:v libx264 -profile:v high -level:v 4.0 -b_strategy 2 -bf 2 -flags cgop -coder ac -pix_fmt yuv420p -crf 23 -maxrate 8M -bufsize 16M \
          -c:a aac -ac 2 -ar 48000 -b:a 384k \
          -f flv \
          rtmp://a.rtmp.youtube.com/live2/${YOUTUBE_STREAM_KEY}
